---
title: Themes
---
<section class="slant-section" style="margin-bottom:15px;">
<h1>Themes</h1>
</section>
<div style="text-align:center;">
<div style="display:inline-block;text-align:left;">
<% site.themes.forEach((theme) => { %>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= theme.image %>" alt="Screenshot of <%= theme.name %> theme">
  <div class="card-body">
    <h5 class="card-title"><%= theme.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">By <%= theme.author %></h6>
    <p class="card-text"><%= theme.description %></p>
    <a href="<%= theme.download %>" class="btn primary">Download</a>
  </div>
  </div>
<% }) %>
</div>
</div>
