<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/header') %>
<section class="slant-section" style="margin-bottom:15px;">
<h1>Documentation</h1>
</section>
<%- include('../partials/sidebar') %>
<div class="main-col">
<div class="content">
<%- body %>
</div>
</div>
</div>
<script src="/assets/main.js"></script>
<%- include('../partials/foot') %>
</body>
</html>
